

<main>
	<div class="wrapper">
		<h1>Welcome To Spotify Stats</h1>
		<br>

		<h3>User's Song List</h3>
        <br>
        
		<div class="wrapper">
		<h1>Welcome To Spotify Stats</h1>
		<br>

		<h3>Song Analysis</h3>
        <br>

        <div class="split left">
        	<h2> TITLE 1 </h2>
        </div>

        <div class="split right">
        	<h2> TITLE2> </h2>
        </div>

		
	</div>
	</div>
</main>

