<main>
    <h1 class=ss1>This is:</h1><h1 class=ss2>Spotify Stats</h1>
    <h2 class=ss3> the best place to use spotify functions if for some reason you cant use spotify</h2>
    <div id="login-div"><a href="/login">login with </a><img style="vertical-align:middle" src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_White.png" alt="Logo" width="200"></div>
</main>